.header {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  &__logo img {
    height: 60px;
  }
  &__menu {
    color: #888888;
    &--list {
      list-style: none;
      display: flex;
      font-weight: 700;
      font-size: 13px;
      cursor: pointer;
      & li {
        margin-left: 35px;
        letter-spacing: 2px;
      }
      & li:hover {
        color: #e8e4e1;
      }
    }
  }
}
